<!--첫번째 메인 페이지 -->
<div data-role="page" id="main">
  <div data-role="header" data-position="fixed" >
    <a href="#panel1" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-bars" style="font-size: 20px;"></a>
    <h1 class="text-header"> {{user.groom}} <b style="color:red">❤</b> {{user.brider}}  의 결혼식</h1>
  </div>
  <div data-role="content">
    <div>
      <img class="main-img" src="./resources/img/{{image.main}}">
    </div>
    <a href="#notice" id="notice-popup" data-rel="popup" data-role="button" class="ui-btn ui-corner-all ui-btn-b" data-transition="pop" data-position-to="window">공지 사항</a>
    <ul data-role="listview" data-inset="true">
      <li data-role="list-divider">인사말</li>
      <li class="text-header text-center">
          {{#each greetings}}
          <p>{{message}}</p>
          {{/each}}
      </li>
      <li data-role="list-divider">신랑 신부 가족 & 이름 </li>
      {{#with family}}
      <li>
        {{#each groom}}
        <p>{{this}}</p>
        {{/each}}
      </li>
      <li>
        {{#each brider}}
        <p>{{this}}</p>
        {{/each}}
      </li>
      {{/with}}
      <li data-role="list-divider">프로포즈</li>
      <li><a href="#propose">프로포즈</a></li>
      <li data-role="list-divider">사진첩</li>
      <li><a href="#page1">사진첩</a></li>
      <li><a href="#page2">사진첩(슬라이드없이)</a></li>
      <li data-role="list-divider">오시는길</li>
      <li>
        <a href="#location" >
          <img src="./resources/img/wedding.png" style="height:100%">
          <h2>행복한 웨딩홀 (예식장)</h2>
          <p>xx-xxxx-xxxx</p>
        </a>
      </li>
      <li>
        <a href="#location2">
          <img src="./resources/img/buffet.png"  style="height:100%">
          <h2>맛있는 식당 (피로연장)</h2>
          <p>xx-xxxx-xxxx</p>
        </a>
      </li>
      <li data-role="list-divider">드리는 말씀</li>
      <li class="text-center">
        <p>주차장은 웨딩홀 옆에 있으니 </p>
        <p>주차요원의 안내에 따라<b style="color:blue">부탁드립니다.</b></p>
      </li>
    </ul>
    <div class="ui-corner-all custom-corners">
      <div class="ui-bar ui-bar-a">
        <h3>주변에 알리기</h3>
      </div>
      <div class="ui-body ui-body-a"  style="overflow:visible;">
        <div><a href="javascript:;" id="kakao-link"><img class="kakaolink" src="./resources/img/kakao_talk.png" width="100%" alt="카카오 톡으로 청첩장 보내기"></a></div>
        <div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>
      </div>
    </div>
    <div class="ui-body ui-body-a ui-corner-all" style="overflow:visible;">
    </div>
  </div>
  {{>footer}}
  <div data-role="popup" id="notice" data-dissmisible="false">
    <div data-role="header">
      <h1>공지 사항</h1>
    </div>
    <div data-role="main" class="ui-content">
      <h3>당일 교통이 혼잡하오니 대중 교통을 이용해 주세요. </h3>
    </div>
  </div>
  <div data-role="panel" data-display="push" id="panel1">
    <div>
      <img src="./resources/img/profile.png" style="width:100%;">
    </div>
    <div style="margin:20px;">
    </div>
    <ul data-role="listview">
      <li data-role="list-divider">목차</li>
      <li><a href="#propose">프로포즈</a></li>
      <li><a href="#page1">사진첩</a></li>
      <li><a href="#page2">사진첩(슬라이드없이)</a></li>
      <li><a href="#location">오시는길(예식장)</a></li>
      <li><a href="#location2">오시는길(피로연)</a></li>
      <li><a href="#panel1" data-rel="close" data-icon="delete">Close</a></li>
    </ul>
  </div>
</div>
<!--첫번재 메인 페이지 끝-->